<footer class="bg-lime-700">
    <div class="footer">
        <div class="container-footer">
            <div class="footer-content">
                <div class="caret-lime-800">
                    <h2>Về chúng tôi</h2>
                    <ul>
                        <li><a href="">Di sản</a></li>
                        <li><a href="">Công ty</a></li>
                        <li><a href="">Cơ hội nghề nghiệp</a></li>
                    </ul>
                    <h2>Về chúng tôi</h2>
                    <ul>
                        <li><a href="">Di sản</a></li>
                        <li><a href="">Công ty</a></li>
                        <li><a href="">Cơ hội nghề nghiệp</a></li>
                    </ul>
                    <h2>Về chúng tôi</h2>
                    <ul>
                        <li><a href="">Di sản</a></li>
                        <li><a href="">Công ty</a></li>
                        <li><a href="">Cơ hội nghề nghiệp</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>